<md-sidenav-container class="static_parent">
  <md-sidenav #sidenav mode="side" opened="true" align="start" class="author-profile nopadding">
    <img class="profile-pic" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    <div *ngIf="userdetails && userdetails.length > 0">
      <h4>{{ userdetails[0].firstname }}</h4>
    </div>
  </md-sidenav>

  <md-sidenav #sidenav mode="side" opened="true" align="end" class="social-activity nopadding">
    <li>fb share</li>
    <li>twitter share</li>
    <li>g+ share</li>
    <li>linked share</li>
    <li>pinterest share</li>

    <div *ngIf="posts && posts.length > 0">
      <li>read : {{ posts[0].readscount }}</li>
      <li>likes : {{ posts[0].likescount }}</li>
      <li>comments : {{ posts[0].commentscount }}</li>
    </div>
  </md-sidenav>


  <div *ngIf="posts && posts.length > 0" class="text readable_content_overflow">
    <h3>{{posts[0].title}}</h3>
    <h6>{{ posts[0].created_at }}</h6>
    {{posts[0].body }}
    <h4>tags</h4>
    <a *ngFor="let tag of (posts[0].tags)">
      <li>{{tag}}</li>
    </a>
  </div>

</md-sidenav-container>


<!-- Copyright 2017 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
