body{
  padding-top:65px;
}

.static_parent
{
  position: fixed;
  max-height:700px;
  overflow:hidden;
}

.readable_content_overflow
{
  max-height:700px;
  overflow:scroll;
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
  line-height: 1.2em;
  font-size: 18px;

}

.nopadding
{
  padding:0px !important;
}

.author-profile {
  background-color: lightblue;
}

.social-activity {
  background-color: lightblue;
}

.profile-pic{
  width: 150px;

}

