<a *ngFor="let template of example">
  <md-card class="example-card">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>{{ template.author }}</md-card-title>
      <md-card-subtitle>{{ template.story_name }}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        {{ template.story_short }}
    </md-card-content>
    {{ template.serial_no }}
    <md-card-actions>
      <button md-button [routerLink]="['reading',  template.serial_no ]">read more</button>
    </md-card-actions>
  </md-card>
</a>
